<section class="ui raised segment">
  <div class="ui list"> 
    #{list items:users, as:'user'}
      <div class="ui item"> 
       #{if user.logged ==  true}
        <p>|||ONLINE|||</p>
      #{/if}
      #{else}
        <p>|||OFFLINE|||</p>
      #{/else}
        <i class="user icon"></i>
        <div class="content">
          ${user.firstName} ${user.lastName}: : ${user.statusText}  <a href="members/follow/${user.id}"> (follow) <a href="../publicblog/${user.id}"> Blog</a> 
        </div>
      </div>
    #{/list}
  </div>
</section>