#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

<nav class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/signup"> Signup  </a>
    <a class="item" href="/login">  Login   </a>
  </div>
</nav> 

<section class="ui raised segment">
  <p> Signup or Log in to the Spacebook Service </p>
</section>


<section class ="ui raised segment">
  <p> Users With Blogs </p>
</section>
<section class="ui raised segment">
  <div class="ui list"> 
    #{list items:users, as:'user'}
      #{if user.posts.size() != 0}
      <div class="ui item"> 
      #{if user.logged ==  true}
        <p>|||ONLINE|||</p>
      #{/if}
      #{else}
        <p>|||OFFLINE|||</p>
      #{/else}
        <i class="user icon"></i>
        <div class="content">
          ${user.firstName} ${user.lastName}: : ${user.statusText}  <a href="members/follow/${user.id}"> (follow) </a> <a href="../publicblog/${user.id}" class="ui tiny blue button">Blog</a> 
        </div>
      </div>
      #{/if}
    #{/list}
  </div>
</section>